p {
  color: red;
  background-color: green;
}

h2 {
  color: blue;
}

nav ul{
   background-color: aqua; 
}

section{
  border: 2px #000 solid;
  margin: 40px;
  padding: 20px;
  background-color: blueviolet;
}

